/* 
Variables 
*/


/* Colors */

$white: #fff;
$black: #000;
$lightgrey: #F5F5F5;
$greyfont: #a4a4a4;
$grey: #181818;
$darkgrey:#111;


/* Fonts */

$graphik: 'graphik', sans-serif;
$regular: 400;
$bold: 700;
