@import './require/var';
@import './require/mixins';
@import './require/keyframes';

@import './require/normalize';
@import './require/fonts';
@import './require/grid';

/* 
elements
*/

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

body{
	height:100%;
	width:100%;
    font-family: $graphik;
    font-weight: $regular;
}

a {
    text-decoration: none;

    &:hover{
	
	}
}


ul {
  list-style-type: none;
}

@import './import/menu';
@import './import/footer';
@import './import/home';

