{% extends "_base.twig" %}

{% block content %}

<div class="slider-content">

	<div class="slider-wrapper">
		<div class="slider-container">

			<div class="slide active" data-order="1" style="background:red">
				<h2>Section 1</h2>
			</div>  
			<div class="slide" data-order="2" style="background:blue">
				<h2>Section 2</h2>
			</div>  
			<div class="slide" data-order="3" style="background:red">
				<h2>Section 3</h2>
			</div>
			<div class="slide" data-order="4" style="background:blue">
				<h2>Section 4</h2>
			</div>

		</div>
	</div>

</div>

{% endblock %}