{% extends "_base.twig" %}

{% block content %}

  <div class="is_slide" style="background-color: pink;"><h2>Slide 1</h2></div>
  <div class="is_slide" style="background-color: blue;"><h2>Slide 2</h2></div>
  <div class="is_slide" style="background-color: green;"><h2>Slide 3</h2></div>
  <div class="is_slide" style="background-color: rebeccapurple;"><h2>Slide 4</h2></div>
  <div class="is_slide" style="background-color: orange;"><h2>Slide 5</h2></div>
  <div class="is_slide" style="background-color: lightblue;"><h2>Slide 6</h2></div>
  <div class="is_slide" style="background-color: red;"><h2>Slide 7</h2></div>
  <div class="is_slide" style="background-color: grey;"><h2>Slide 8</h2></div>
  <div class="is_slide" style="background-color: darkblue;"><h2>Slide 9</h2></div>
  <div class="is_slide" style="background-color: black;"><h2>Slide 10</h2></div>

{% endblock %}