@import 'variables';

/* 
home
*/

body{
   overflow: hidden;
}

section{
  height: 100vh;
  width: 100%;
}

.slider-content {
  position:relative;
  height: 100vh;
  width: 100%;
  background:#fff;
  margin: 0 auto;
  overflow:hidden;
  box-shadow: 0 0 35px 20px rgba(79,69,66,0.2);
  
  .slide {
    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.slide:not(:first-of-type) {
  transform: translateY(100%);
}
  
}

// .slider-container { 
//   position:relative;
//   height: 65rem;
//   overflow:hidden;
  
//     .slide-content {
//       position:absolute;
//       display:block;
//       width:50%;
//       height:100%;
//       transition: transform 0.3s ease;
//       transition-delay:0.15s;

//   }
  
// }