@import 'variables';

/* 
home
*/


body{
   overflow: hidden;
}

section{
  height: 100vh;
  width: 100%;
  background:red;
}
.is_slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.is_slide:not(:first-of-type) {
  transform: translateY(100%);
}
 
